@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

.trigger-button{
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid gray;
  margin: 0.5rem;
  padding: 0.5rem;
}

.active{
  color: #0d6efd;
  font-size: larger;
}


.inactive{
  color: #6c757d;
  font-size: large;
  border: 1px solid #6c757d;
}

.tasks-wrapper{
  margin: 1rem;
}

.projects-wrapper{
  margin: 1rem;

  .project-card{
    border: 1px solid #0d6efd;
  }
}
